body{
    margin: 20px;
}
h2{
  margin: 3%;  
}
#searchForm{
    background-color: rgb(250, 168, 179);
    border-style: solid;
    border-color: rgb(255, 90, 103);
    height: 200px;
}
#nik{
    float: right;
    margin: top;
    height: 150px;
    margin-left: 20px;
    margin-top: 30px;
}
#nama{
    margin-top: 100px;
    margin-left: -300px;
}
#searchType{
    width: 300px;
    height: 25px;
}
#searchInput{
    width: 300px;
    height: 25px;
}
.pp{
    position: absolute;
}
#add{
    position: absolute;
    margin-bottom: 0%;
    margin-left: 74%;
    width: 150px;
    height: 40px;
    background-color: rgb(42, 42, 248);
    color: white;
    border-radius: 10px;
}
#srch{
    position:absolute;
    margin-top: 17px;
    margin-left: 86%;
    width: 150px;
    height: 40px;
    background-color: rgb(42, 42, 248);
    color: white;
    border-radius: 10px;
    
}
.table{
    margin-top: 60px;
    border: 2px solid black;
  
}
.table th{
    padding: 0vh;
}
th{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(132, 132, 255);
    height: 30px;
}
th:nth-child(6) {
    width: 450px;
  }
.btn {
    width: 50px;
    height: 25px;
    font-size: 11px; 
}

.edit-btn {
    background-color: orange;
}

.detail-btn {
    background-color: lightblue;
}

.delete-btn {
    background-color: red;
}
